<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="background-color: black;">
    <a class="navbar-brand" href="#">
     <!-- <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->
  
       BandhuRaje Wine Shop
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li  class="nav-item" style="margin-right: 30px; margin-top: 8px; color: rgb(87, 52, 243);">
        </li>
        <!-- <li  class="nav-item">
            <button class="btn btn-info">
                <a href="userpanel">Home</a>
            </button>
        </li>
        <li  class="nav-item">
            <button class="btn btn-info">
                <a href="adminpanel">Home</a>
            </button>
        </li> -->
        <li  class="nav-item" id="showlogin">
            <button class="btn btn-success" (click)="gotoList()">
                <a href="login">LOG IN</a>
               
            </button>
        </li>
         <li  class="nav-item" id="showlogout2">
            <button class="btn btn-danger" (click)="logouthome()">
                <a href="logout">LOG OUT</a>
            </button>
        </li>
        
        <!-- <li  routerLink="product-Opening_balance" class="nav-item">
            <button class="btn btn-success" (click)="gotoList()">
                <a href="product-opening">Product</a>
               
            </button>
        </li>
        <li  class="nav-item">
            <button class="btn btn-success" (click)="gotoList()">
                <a href="product-save">Add Product</a>
               
            </button>
        </li> -->
       
      </ul>
    </div>
  </nav>
  <!-- HEADER -->
  