<h2>Forget Password</h2>

<div class="mb-3">
    <label for="prod_flavour" class="form-label">Enter Your Mail Id:</label>
    <input type="text" class="form-control" id="prod_flavour" name="prod_flavour">
</div>
<div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary text-white btn-outline-primary form-control" id="addButton" >Genrate OTP</button>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="mb-3">
    <label for="prod_flavour" class="form-label">Enter OTP Here</label>
    <input type="text" class="form-control" id="prod_flavour" name="prod_flavour">
</div>
