<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp');
    height: 100vh;
  "
>
<br>
<div >
    <h3>Home Page</h3>
</div>
<style>
    h3 {
      text-align: center;
    }   
</style>
<br>
<div style="background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp');"></div>



<div class="btn-toolbar"  aria-label="Toolbar with button groups">
    <div class="btn btn-space"  aria-label="First group">
        <button type="button" class="btn btn-success" (click)="gotoAddProduct()">Add Product</button>
    </div>
    <div class="btn btn-space"  aria-label="First group">
        <button type="button" class="btn btn-primary" >Stock Dashboard</button>
    </div> 
</div>
<br>

</div>








